/*
 *= require ./vendor/normalize
 *= require ./vendor/boilerplate
 *= require_self
 */

@import 'compass/css3';

html {

  background-image: url(/images/FlinkFinger.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  background-position: center center;
}
