section#contact {
  address {
    border-radius: 3px;
    position: absolute;
    z-index: 2;

    left: 20px;
    top: 50px;
    width: 280px;

    padding: 25px 40px;
    background: #fff;

    h2 {
      margin-top: 0;
    }

    ul {
      padding: 0;
      list-style-type: none;

      li {
        font-size: 20px;

        &.space {
          padding-bottom: 12px;
        }
      }
    }
  }

  #gmap {
    @include filter(grayscale(75%));

    display: block;
    z-index: 1;

    width: 100%;
    height: 500px;
  }
}
