header#header {
  position: relative;
  z-index: 99;

  left: 0;
  right: 0;
  top: 0;

  height: 60px;

  margin-top: -60px;
  margin: 0;
  padding: 0;

  color: #fff;
  background: rgba(250, 250, 250, 0.95);

  border-top: 1px solid rgba(159, 41, 39, 0.5);
  border-bottom: 1px solid rgba(159, 41, 39, 0.5);

  .navbar {
    margin: 0;
    padding: 3px 0;
    border: 0;

    img {
      margin-left: 20px;
    }

    ul {
      a {
        color: rgb(159, 41, 39);

        font-family: 'Droid Sans';
        font-size: 25px;
        font-variant: small-caps;
        font-weight: 700;

        &:hover {
          color: #000;
          background-color: transparent;
        }
      }
    }
  }
}

body.menu-fixed {
  margin-top: 60px;

  header#header  {
    position: fixed;
    margin-top: 0 !important;
    border-top: 0;

    left: 0;
    right: 0;
    top: 0;
  }
}
