header {
  position: relative;
  z-index: 99;

  left: 0;
  right: 0;
  top: 0;

  height: 60px;

  margin-top: -60px;
  margin: 0;
  padding: 0;

  color: #fff;
  background-color: #f1f1f1;
  border-top: 1px solid rgb(159, 41, 39);
  border-bottom: 1px solid rgb(159, 41, 39);

  &.fixed {
    position: fixed;
    margin-top: 0 !important;

    left: 0;
    right: 0;
    top: 0;
  }
}
