section#services {
}

.specialized {
  margin-bottom: 40px;

  .label {
    background: rgb(159, 41, 39);
    font-size: 1.1em;

    a {
      @include text-shadow(rgba(black, 0.8) 1px 1px 0);
      color: #fff;

      &:hover {
        color: #000;
      }
    }
  }
}

#wordcloud {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 400px;

  canvas {
    width: 100%;
    height: 400px;
  }
}
